{% load static %}
<div class="container">
  <div class="image-container">
    <img src="{% static 'spirit/images/fenix.png' %}" id="pheonix-logo"/>
  </div>
  <h1 style="text-align: center;">Novi fer3 je u izradi...
    Trentno je stranica u fazi testiranja. <br>Bit će dostupna samo onima koji sudjeluju u izradi nove stranice radi lakšeg dogovaranja<br>
    Registracije na stranicu su onemogućene iz tog razloga.
    Ako neko želi pomoći neka se slobodno javi na filipradovic@protonmail.com<br>
</div>
